body {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #131313;
    font-family: 'Roboto';
    background-image: url('assets/background.jpg');
    background-size: cover;
}


header {
    display: flex;
    flex-direction: row;
    margin: auto;
    color: white;
}


header .logoContainer {
    margin-top: 16px;
}


header .menu {
    margin: auto;
}

header .menu ul {
    display: inline-flex;
    list-style: none;
    margin-top: 16px;
}

.selected {
    margin: 0 16px 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 8px;
    border-bottom: 3px #50BD6F solid !important;
}

header .menu ul li {
    margin: 0 16px 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 8px;
    border-bottom: 3px #131313 solid;
}


.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 32px 0;
    width: 100%;
}

.gridContainer {
    margin: auto;
    max-width: 964px;
}






.WhatIDo {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 100%;
}

.card {
    height: 160px;
    width: 200px;
    background: #272727;
    box-shadow: 8px 4px 4px rgba(196, 196, 196, 0.25);
    border-radius: 12px;
    border: 1px black solid;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    margin: 16px;
}


.card:hover {
    height: 160px;
    width: 200px;
    background: #272727;
    box-shadow: 8px 4px 4px rgba(196, 196, 196, 0.25);
    border-radius: 12px;
    border: 1px green solid;
    cursor: pointer;
    transition: 1s;
}

.WhatIDo .line {
    border: 1px solid white;
    height: 0px;
    width: 8%;
}

.WhatIDo h3 {
    color: white;
    font-size: 20px;
    margin: 8px 0;
    font-weight: 400;
    margin: auto;
}

header .menu ul li:hover {
    border-bottom: 3px #50BD6F solid;
    width: auto
}

section {
    display: flex;
    margin-top: 32px;
}

.home {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 15vh;
    flex-wrap: wrap;

}

section .container {
    display: flex;
    flex-direction: column;
    margin: 0 64px;

}




img {
    position: relative;
    top: -10vh;
}

@media (max-width: 470px) {

    .card {
        width: 280px;
        height: 180px;
        margin: 10px auto;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    img {
        display: none;
    }
    .home {
        margin: auto;
        display: flex;
    }
    .container {
        margin: auto;
        text-align: center;
    }

    section .container {
        display: flex;
        flex-direction: column;
        margin: 0;
    
    }

    .header {
        text-align: center;
    }

    .line{
        text-align: center;
        visibility: hidden;
    }
}
@media (max-width: 990px) {
    img {
        display: none;
    }
    .home {
        margin: auto;
        display: flex;
    }
    .container {
        margin: auto;
        text-align: center;
    }

    section .container {
        display: flex;
        flex-direction: column;
        margin: 0;
    
    }

    .header {
        text-align: center;
    }

    .line{
        text-align: center;
        visibility: hidden;
    }
    
}

section h2 {
    display: flex;
    flex-direction: column;
    color: #4457FF;
    font-size: 42px;
    margin: 0;
}

section h1 {
    display: flex;
    flex-direction: column;
    color: #989898;
    font-size: 56px;
    margin: 0;
}

section p {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    margin: 0;
}